

button.attack {
    cursor: pointer;
    background-color: red;
    color: black;
    height: 50px;
    width: 100px;
    font-size: 20px;
}

button.retreat {
    cursor: pointer;
    background-color: blue;
    color: white;
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.buttons {
    position: absolute;
    top: 500px;
    right: 900px;
}

body {
    background-image:url('images/bg.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}